In [103]:
import jax
import jax.numpy as jnp

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import dataframe_image as dfi

In [104]:
def convert(df):
    def _convert(string):
        l, s, o = string.split(".")
        l = "l" if l == "1" else ""
        s = "s" if s == "1" else ""
        o = "o" if o == "1" else ""
        ans = l+s+o
        if ans == "":
            return "stat"
        else:
            return ans
    df = df.copy()
    df.columns = map(_convert, df.columns)
    df.index = map(_convert, df.index)
    return df

In [105]:
latent_key = "203" # 2000, 200, 203, 20000
data_key = "303"  # 3000, 300, 303, 30000
rmse_inducing = convert(pd.read_csv(f"/home/patel_zeel/GP_Neurips/inducing_rmse_{latent_key}_{data_key}.csv", index_col=0, header=0))
# rmse_lgp = convert(pd.read_csv(f"/home/patel_zeel/GP_Neurips/lgp_inducing_rmse_{latent_key}_{data_key}.csv", index_col=0, header=0))
rmse = convert(pd.read_csv(f"/home/patel_zeel/GP_Neurips/rmse_{latent_key}_{data_key}.csv", index_col=0, header=0))
nlpd = convert(pd.read_csv(f"/home/patel_zeel/GP_Neurips/nlpd_{latent_key}_{data_key}.csv", index_col=0, header=0))
nlpd_inducing = convert(pd.read_csv(f"/home/patel_zeel/GP_Neurips/inducing_nlpd_{latent_key}_{data_key}.csv", index_col=0, header=0))
# nlpd_lgp = convert(pd.read_csv(f"/home/patel_zeel/GP_Neurips/lgp_inducing_nlpd_[  0 {latent_key}]_[  0 {data_key}].csv", index_col=0, header=0))

In [106]:
# highlight lowest vales in each column
rmse_style = rmse.style.highlight_min(axis=0, color='green')
rmse_style_inducing = rmse_inducing.style.highlight_min(axis=0, color='green')
# rmse_style_lgp = rmse_lgp.style.highlight_min(axis=0, color='green')
names = ["rmse_style", "rmse_style_inducing", "rmse_style_lgp"]
styles = [rmse_style, rmse_style_inducing]
# for name, style in zip(names, styles):
#         dfi.export(style, f"{name}_{latent_key}_{data_key}.png")
display(rmse_style, 
        rmse_style_inducing, 
        # rmse_style_lgp
        )

In [107]:
nlpd_style = nlpd.style.highlight_min(axis=0, color='green')
nlpd_style_inducing = nlpd_inducing.style.highlight_min(axis=0, color='green')
# nlpd_style_lgp = nlpd_lgp.style.highlight_min(axis=0, color='green')
display(nlpd_style, 
        nlpd_style_inducing, 
        # nlpd_style_lgp
        )

In [108]:
# merge rmse and nlpd by creating an extra column header
def merge(df1, df2):
    df1 = df1.copy()
    df2 = df2.copy()
    df1.columns = df1.columns + "_rmse"
    df2.columns = df2.columns + "_nlpd"
    df = pd.concat([df1, df2], axis=1)
    # sort columns
    new_cols = []
    for a,b in zip(df1.columns, df2.columns):
        new_cols.append(a)
        new_cols.append(b)
    df = df.reindex(new_cols, axis=1)
    return df

rmse_nlpd = merge(rmse, nlpd).style.highlight_min(axis=0, color='green')
rmse_nlpd

In [109]:
rmse_nlpd_inducing = merge(rmse_inducing, nlpd_inducing).style.highlight_min(axis=0, color='green')
rmse_nlpd_inducing

In [116]:
diff = (rmse_nlpd_inducing.data - rmse_nlpd.data)<0
print(diff.sum().sum()/diff.size)

# highlight True values
diff.style.applymap(lambda x: 'background-color: green' if x==True else '')

0.5234375