In [10]:
import sys
import os

os.environ["CUDA_VISIBLE_DEVICES"] = "2"

import jax
import jax.tree_util as jtu
import jax.scipy as jsp
import jax.numpy as jnp

from functools import partial
from scipy.io import savemat
from itertools import product

import optax
import pandas as pd

from sklearn.preprocessing import StandardScaler, MinMaxScaler

import matplotlib.pyplot as plt

from base import loss_fn, predict_fn, get_params
from utils import train_fn, latexify
from data import generate_heinonen_gp_data, get_nonstat2d

jax.config.update("jax_enable_x64", True)

%reload_ext watermark

In [15]:
method = "delta_inducing"

aq_df = pd.read_pickle(f"results/aq_results_{method}.pkl")

rmse_df = pd.DataFrame(index=product([1, 0], repeat=3), columns=range(3))
nlpd_df = pd.DataFrame(index=product([1, 0], repeat=3), columns=range(3))
# rmse

for col in rmse_df.columns:
    for index in rmse_df.index:
        y_test = aq_df[index][col]["y_test"]
        pred_scale = jnp.sqrt(aq_df[index][col]["pred_var"] + aq_df[index][col]["pred_omega"]**2)
        pred_mean = aq_df[index][col]["pred_mean"]
        rmse_df[col][index] = jnp.sqrt(jnp.mean((y_test - pred_mean)**2 ))
        nlpd_df[col][index] = -jsp.stats.norm.logpdf(y_test, pred_mean, pred_scale).mean()
        
rmse_df["mean"] = rmse_df.mean(axis=1)
nlpd_df["mean"] = nlpd_df.mean(axis=1)

display(rmse_df.style.highlight_min(color='green'))
display(nlpd_df.style.highlight_min(color='green'))